
$magenta: #e30b50;
$negroazul: #37474f;
$azul: #1565c0;
$negro: #212121;
$grisfuerte: #424242;
$blanco: #eceff1;
$blancoazul: #cfd8dc;

//importar roboto y opensanf;


*{
    margin: 0;
    border:0px solid;
}

body{
    background-color: $blancoazul !important;
    font-family: "Open Sans", sans-serif;
}

.card{
    margin: 0px !important;
    border: 0px solid;
    border-bottom: 1px solid #eaeaea;
}

.contenedor {
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}

a{
    text-decoration: none;
    color:black;
}

figure{
    width: 100%;
    height: 50%;
    padding: 10px;
   
    background-color: black;
}


