
  @import url('../libs/framework7/css/framework7.css');
  @import url('../libs/framework7/less/mixins.less');

  


  .toolbar-social{
    background:  rgb(250,250,250) !important; /*rgb(121, 118, 118)*/
    border-top: 6px solid  rgb(219, 211, 211) !important;
    border-right:  none;
    height : 11% !important;
    border-bottom: none;
    border-left: none;
    height:9% !important;
    }

    .toolbar-inner{
        background: rgb(250,250,250) !important; /*rgb(121, 118, 118)*/
        border-top: 6px solid  rgb(219, 211, 211) !important;
        border-right:  none;
        border-bottom: none;
        border-left: none;

    }

    .social-title{
      font-size: 6vw;
      font-weight: 600;
      font-style: normal;
      font-family: Arial, Helvetica, sans-serif;
      
    }

    .col-archivos{
height: 60x;
background: #ffffff;

    }

    .theming{
      background: #CB4309 !important;
    }

    .button-seguir-sm{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 4vw;
      color:#ffffff;
      padding-top: 1px;
      padding-bottom: 1px;
      border: none;
      border-color: transparent;
      padding-left: 3px;
      padding-right: 3px;
      border-radius: 7px;
    }

 .text-shared{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 6vw;
   color: rgb(90, 90, 247);
   text-transform: capitalize;
   margin-right: 2px;
 }

 .text-area-publicar{
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  
 }

 .panelComent{
width: 100%;
background: white;
color: black;
position: fixed;
z-index: 10000;
display: inline-block;
padding:4px;
bottom: 6.5%;

 }

 #comenttext{
border-color: #CB4309;
border-style: solid;
border-width: 1px;
width: 100%;
font-family: Arial, Helvetica, sans-serif;

 }

 .img-rounded{
   border-style: solid;
   border-color: #CB4309;
   border-width: 1px;
   border-radius: 50%;
  
 }

 .text-social{
   font-family: Arial, Helvetica, sans-serif !important;
   font-weight: 4vw !important;
 }

.content-intro-perfil{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
 

}



.nombreUsuarioPerfil{
  font-size: 6vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
}

.btn-change-foto-perfil{
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #CB4309;
  background: white;
  color: black;
  width: 25%;
  padding: 1px;
}

.panel-acciones-in-perfil{
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: none;
  border-left-style: none;
  
  border-color: rgb(107, 106, 106);
  background: white;
  border-bottom-width: 2px;
  border-top-width: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  color:black;
}

.text-options{
  font-size: 4vw;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;

}

.ios .photo-browser-dark .navbar a, .ios .photo-browser-page-dark .navbar a, .ios .view.with-photo-browser-page-dark .navbar a, .ios .photo-browser-dark .toolbar a, .ios .photo-browser-page-dark .toolbar a, .ios .view.with-photo-browser-page-dark .toolbar a{
  color: black !important;
}

#miHistoria-Content{
  -webkit-justify-content: unset !important;
  justify-content: unset !important;
}